{% extends 'base.html' %}
{% block div %}	<div class="fh5co-loader"></div>{% endblock %}

{% block content %}	
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/static/images/IMG_1027.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Save to Day</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-gallery">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>"Una boda se vive tres veces: al soñarla, al celebrarla y al recordarla" </span>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-gallery-list">
						
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1079-2.jpg); "> 
							<a href="/static/images/IMG_1079-2.jpg" target="_blank" >
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1180.jpg); ">
							<a href="images/IMG_1180.jpg" target="_blank" class="color-2">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1046.jpg); ">
							<a href="images/IMG_1046.jpg" target="_blank" class="color-3">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_0995.jpg); ">
							<a  href="images/IMG_0995.jpg" target="_blank" class="color-4">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1021.jpg); ">
							<a href="images/IMG_1021.jpg" target="_blank" class="color-3">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1093-2.jpg); ">
							<a href="images/IMG_1093-2.jpg" target="_blank"class="color-4">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1073.jpg); ">
							<a href="images/IMG_1073.jpg" target="_blank" class="color-4">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1017.jpg); "> 
							<a href="images/IMG_1017.jpg" target="_blank" class="color-5">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1126.jpg); ">
							<a href="images/IMG_1126.jpg" target="_blank" class="color-6">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1017.jpg); ">
							<a href="images/IMG_1017.jpg" target="_blank" class="color-6">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1070.jpg); ">
							<a href="images/IMG_1070.jpg" target="_blank" class="color-6">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1093.jpg); ">
							<a href="images/IMG_1093.jpg" target="_blank" class="color-6">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1055.jpg); ">
							<a href="images/IMG_1055.jpg" target="_blank" class="color-6">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1142.jpg); ">
							<a href="images/IMG_1142.jpg" target="_blank" class="color-6">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/IMG_1134.jpg); ">
							<a href="images/IMG_1134.jpg" target="_blank" class="color-6">
								<div class="case-studies-summary">
								</div>
							</a>
						</li>
					</ul>		
				</div>
			</div>
		</div>
	</div>
{% endblock %} 