{% extends 'base.html' %}

{% block content %}
	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/static/images/IMG_1079-2.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<!--h1>Yazmin &amp; Braian</h1-->
							<h1 class="nombre1 page-title text-center portada_custom text-center  text-white" data-sr-id="0" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 3s cubic-bezier(0.5, 0, 0, 1) 2.1s, transform 3s cubic-bezier(0.5, 0, 0, 1) 2.1s;">Yazmin</h1>
							<h1 class="nombre2 page-title text-center portada_custom text-center  text-white" data-sr-id="2" style="visibility: visible; opacity: 1; transition: opacity 3s cubic-bezier(0.5, 0, 0, 1) 2.1s;">&amp;</h1>
							<h1 class="nombre3 page-title text-center portada_custom text-center  text-white" data-sr-id="3" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 3s cubic-bezier(0.5, 0, 0, 1) 2.1s, transform 3s cubic-bezier(0.5, 0, 0, 1) 2.1s;">Braian</h1>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>¡Nos Casamos!</h2>
					<!--div class="simply-countdown simply-countdown-one"></div-->
					<section style="display:flex" class="container">
						
						<div class="countdown">
							<div>
								<p style="position: relative;
								top: 1em; text-align: center; " class="contador" id="days">00</p>
								<span style="font-size: 13px;">Dias</span>
							</div>
							<div>
								<p style="position: relative;
								top: 1em; text-align: center;"class="contador" id="hours">00</p>
								<span style="font-size: 13px;">Horas</span>
							</div>
							<div>
								<p style="position: relative;
								top: 1em; text-align: center;" class="contador" id="minutes">00</p>
								<span style="font-size: 13px;">Minutos</span>
							</div>
							<div>
								<p style="position: relative;
								top: 1em; text-align: center;" class="contador" id="seconds">00</p>
								<span style="font-size: 13px;">Segundos</span>
							</div>
						</div>
					</section>
					<h3>El 6 de mayo del 2023, Costa Esmeralda Veracruz</h3>
					<p>Te invitamos a celebrar nuestra boda.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(/static/images/playa.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<!--span>NUESTROS EVENTOS ESPECIALES</span-->
					<h2>Nuestros Eventos</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Ceremonia Religiosa</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>4:00 PM</span>
										<span>6:00 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Sabado 6</span>
										<span>Mayo, 2023</span>
									</div>
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p-->
										<div class="couple-half" style="margin-inline: auto;">
											<div class="groom">
												<img src="/static/images/groom.jpg" alt="groom" class="img-responsive">
											</div>
										</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Wedding Party</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>7:00 PM</span>
										<span>12:00 AM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Sabado 6</span>
										<span>Mayo, 2023</span>
									</div>
										<div class="couple-half" style="margin-inline: auto;">
											<div class="groom">
												<img src="/static/images/party.jpeg" alt="groom" class="img-responsive">
											</div>
										</div>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<!--span>We Love Each Other</span-->
					<h2>Nuestro Itinerario</h2>
					<p>Nuestro amor durará una eternidad y nuestra fiesta durará hasta el amanecer.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(/static/images/joya.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Recepcion</h3>
									<span class="date">4:00 pm</span>
								</div>
								<div class="timeline-body">
									<p>Comparte con nosotros este momento.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(/static/images/iglesia.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Ceremonia Religiosa</h3>
									<span class="date">4:30 pm a 5:30 pm.</span>
								</div>
								<div class="timeline-body">
									<p>Acompañanos en nuestro inicio por la palabra de Dios.</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(/static/images/camara.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Sesion de fotos</h3>
									<span class="date">6:00 pm</span>
								</div>
								<div class="timeline-body">
									<p>Tomate fotos con nosotros y plasmemos este momento inolvidable.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(/static/images/cena.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Comienza la fiesta</h3>
									<span class="date">7:00 pm hasta el amanecer</span>
								</div>
								<div class="timeline-body">
									<p>Hey! comienza la diversión..</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>

	<!--div id="fh5co-gallery" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Memories</span>
					<h2>Wedding Gallery</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-gallery-list">
						
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-1.jpg); "> 
						<a href="images/gallery-1.jpg">
							<div class="case-studies-summary">
								<span>14 Photos</span>
								<h2>Two Glas of Juice</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-2.jpg); ">
						<a href="#" class="color-2">
							<div class="case-studies-summary">
								<span>30 Photos</span>
								<h2>Timer starts now!</h2>
							</div>
						</a>
					</li>


					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-3.jpg); ">
						<a href="#" class="color-3">
							<div class="case-studies-summary">
								<span>90 Photos</span>
								<h2>Beautiful sunset</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-4.jpg); ">
						<a href="#" class="color-4">
							<div class="case-studies-summary">
								<span>12 Photos</span>
								<h2>Company's Conference Room</h2>
							</div>
						</a>
					</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-5.jpg); ">
							<a href="#" class="color-3">
								<div class="case-studies-summary">
									<span>50 Photos</span>
									<h2>Useful baskets</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-6.jpg); ">
							<a href="#" class="color-4">
								<div class="case-studies-summary">
									<span>45 Photos</span>
									<h2>Skater man in the road</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-7.jpg); ">
							<a href="#" class="color-4">
								<div class="case-studies-summary">
									<span>35 Photos</span>
									<h2>Two Glas of Juice</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-8.jpg); "> 
							<a href="#" class="color-5">
								<div class="case-studies-summary">
									<span>90 Photos</span>
									<h2>Timer starts now!</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-9.jpg); ">
							<a href="#" class="color-6">
								<div class="case-studies-summary">
									<span>56 Photos</span>
									<h2>Beautiful sunset</h2>
								</div>
							</a>
						</li>
					</ul>		
				</div>
			</div>
		</div>
	</div-->

	<!--div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url(images/img_bg_5.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-users"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="500" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Estimated Guest</span>

							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-user"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="1000" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">We Catter</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-calendar"></i>
								</span>
								<span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Events Done</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-clock"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="2345" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Hours Spent</span>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div-->

	<div id="fh5co-testimonial" style="background-image:url(/static/images/yaz.jpg);" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<span>Nuestras recomendaciones de hospedaje</span>
						<h2>Hoteles</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
						<div class="wrap-testimony">
							<div class="owl-carousel-fullwidth">
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="/static/images/hotel azulcar.jpg" alt="groom" class="img-responsive">
										</figure>
										<span>Hotel azucar,  <a href="https://www.hotelazucar.com/explora.html"  target="_blank" class="twitter">Visitar</a></span>
										<blockquote>
											<p>"Carr. Fed. Nautla - Poza Rica km 83.5
												Monte Gordo, 93588
												Tecolutla, Veracruz, México."</p>
												<p>"T + 52 23 2321 0678
													T + 52 23 2321 0804"</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="/static/images/hotel caboalto.jpg" alt="user">
										</figure>
										<span>Hotel & Spa Cabo Alto , <a href="https://www.villascaboalto.com.mx/galeria/#" target="_blank" class="twitter">Visitar</a></span>
										<blockquote>
											<p>"Carretera Fed. Nautla -- Poza Rica Nautla, km. 83, 93588 Monte Gordo, Ver."</p>
											<p>"T + 232 321 0024"</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="/static/images/hotel arena.jpg" alt="user">
										</figure>
										<span>Hotel arena, <a href="https://www.facebook.com/profile.php?id=100057406361815&_rdr" target="_blank" class="twitter">Visitar</a></span>
										<blockquote>
											<p>"Km. 80.5, Veracruz - Poza Rica, Costa Esmeralda, 93570 Ver."</p>
										    <p>"T + 232 321 0479"</p>
										</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-services" class="fh5co-section-gray">
		<div class="container">
			
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Código de vestimenta</h2>
					<p>Recuerda que nuestro evento sera al aire libre y en playa, te recomendamos usar ropa comoda,fresca y en tonos pastel .</p>
									</div>
			</div>

			<div class="d-md-block dresscode-block mw-section">
				<div class="full-width">
					<div class="row centered-content-block">
						<!--h4 class="no-margin-bottom fourth-color-text sm-line-height">Código de vestimenta</h4--><br>
						<!--h3 class="third-color-text">Etiqueta</h3-->
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 first-quarter desktop-only tablet-hidden">
							<div class="content centered-content-inline">
								<h1 class="main-color-text no-margin-bottom" style="text-align: center;">H<br>
									O<br>
									M<br>
									B<br>
									R<br>
									E<br>
									S<br>
								</h1>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 second-quarter">
							<div class="content">
								<div class="centered-content-inline">
									<img src="/static/images/codigo-hombre.png" width="100%" />
									<h5 style="
									text-align: center; " class="no-margin-bottom fourth-color-text sm-line-height desktop-hidden">Hombres</h5>
									<p style="
									text-align: center; "class="third-color-text no-margin-bottom">Traje comodo y formal</p>
									<br class="desktop-hidden">
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 third-quarter">
							<div class="content">
								<div class="centered-content-inline">
									<img src="/static/images/codigo-mujer.png" width="100%" />
									<h5 style="
									text-align: center; "class="no-margin-bottom fourth-color-text sm-line-height desktop-hidden">Mujeres</h5>
									<p   style="
									text-align: center; "class="third-color-text no-margin-bottom">Vestido Libre y fresco</p>
									<br class="desktop-hidden">
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 last-quarter desktop-only tablet-hidden">
							<div class="content centered-content-inline">
								<h1 class="secondary-color-text no-margin-bottom" style="text-align: center;">M<br>
									U<br>
									J<br>
									E<br>
									R<br>
									E<br>
									S<br>
								</h1>
							</div>
						</div>
					</div>
				</div>
			</div>

			
		</div>
	</div>


	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(/static/images/fondoregalo.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<img src="/static/images/regalo.png" width="10%" />
					<h2>Mesa de Regalos</h2>
					<p>¡El mejor regalo para este día especial es su compañia! Y sí está en tu disposición realizar una muestra de cariño estaremos muy agradecidos.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 registry-item">
					<a  href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/50934662" target="_blank">
						<img src="/static/images/liverpool.png" width="60%" style="display: block;
						margin: 0px auto;"/>
					<p  style="
					text-align: center; color:#f9f9f9" >50934662</p></a>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 registry-item">
					<a  href="https://www.sears.com.mx/Mesa-de-Regalos/7609/te-invito-a-mi-boda-braian-antonio-yazmin" target="_blank">
						<img src="/static/images/sears.png" width="60%" style="display: block;
						margin: 0px auto;"/>
					<p  style="
					text-align: center; color: #f9f9f9;" >#7609</p></a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
